[Unit]
Description=Connector for integrating sf-collector with Kafka
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=root
RuntimeDirectory=sysflow
EnvironmentFile=-/etc/default/sysflow
ExecStart=/usr/bin/sf-aux
Restart=on-failure

[Install]
WantedBy=multi-user.target